body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #2b2b2b;
}

* {
  box-sizing: border-box;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  //max-width: 100%;
  //max-height: 100%;
}

input::-webkit-input-placeholder {color:#504f55;}
input::-moz-placeholder          {color:#504f55;}
input:-moz-placeholder           {color:#504f55;}
input:-ms-input-placeholder      {color:#504f55;}

textarea::-webkit-input-placeholder {color:#504f55;}
textarea::-moz-placeholder          {color:#504f55;}
textarea:-moz-placeholder           {color:#504f55;}
textarea:-ms-input-placeholder      {color:#504f55;}

.unscrolled {
  overflow-y: hidden;
}

.hidden-input {
  display: none;
}

.temp-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6260px;
  //background: url("../img/design/mapa копия 4.jpg") no-repeat top left;
  //background-size: 100%;
  opacity: 0.3;
  z-index: -1;

  &--blog {
    //background: url("../img/design/mapa блог.jpg") no-repeat top left;
    //background-size: 100%;
  }

  &--blog-article {
    //background: url("../img/design/mapa пост.jpg") no-repeat top left;
    //background-size: 100%;
  }

  &--catalog {
    //background: url("../img/design/mapa КАТАЛОГ.jpg") no-repeat top left;
    //background-size: 100%;
  }

  &--product {
    //background: url("../img/design/mapa КАТАЛОГ.jpg") no-repeat top left;
    //background-size: 100%;
  }
}

.mobile-text {
  display: none;
  visibility: hidden;
}


@media (max-width: 1199px) {
  body > * {
    display: none;
  }

  .mobile-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", "Arial", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222334;
    text-align: center;
    visibility: visible;
  }
}

.slick-arrow {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
  background: url("../img/right-arrow.svg") no-repeat center;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.slick-prev {
  transform: rotate(180deg);
}

.slick-next {
  margin-bottom: 20px;
}

.slick-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0;
}

.ui-slider-horizontal {
  position: relative;
  margin-right: 7px;
  padding: 10px 0;
  cursor: pointer;
  background: transparent !important;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: ~"calc(100% + 7px)";
    height: 1px;
    background: #a7a7ae;
  }
}

.ui-widget-header {
  position: relative;
  margin-right: 7px;
  padding: 10px 0;
  cursor: pointer;
  background: transparent !important;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: ~"calc(100% + 7px)";
    height: 1px;
    background: #222334;
  }
}

.ui-slider-handle.ui-corner-all.ui-state-default {
  //margin-right: 10px;
  //padding-right: 10px;
  background: #222334;
  border: none;
  cursor: pointer;

  &:hover {
    background: #222334;
  }
}

.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin: 0;
  width: 7px;
  height: 7px;
  transform: translateY(-45%);
}

//.ui-slider-handle.ui-corner-all.ui-state-default:nth-of-type(2) {
//  transform: translateY(-45%) translateX(-7px);
//}