.section-title {
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  color: #222334;

  &--bottom-paragraph {
margin-bottom: 27px;
  }
}

.section-title__bold {
  font-weight: 700;
}