.slider {
  display: flex;
  align-items: flex-start;
  margin-top: 61px;
  width: 100vw;
}

.slider__arrows-container {
  display: flex;
  flex-direction: column-reverse;
}

.slider__container {
  width: 952px;
  overflow: visible;
}

.slider__container .slick-list {
  overflow: visible !important;
}

.slider__item {
  //position: relative;
  margin: 0 33px;
  width: 410px;
  min-height: 635px;

  &--sale {
    position: relative;
  }

  &:hover .slider__title::before {
    transform: scaleX(1);
  }

  &:hover .slider__img-container img {
    transform: scale(1.1);
  }
}

.slider__link {
  //position: absolute;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //z-index: 1;
}

.slider__discount-sticker {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 46px;
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #0a0a0a;
  z-index: 1;
}

.slider__img-container {
  width: 410px;
  height: 585px;
  //z-index: -1;
  overflow: hidden;

  & img {
    transition: 0.5s;
    transform-origin: 50% 50%;
  }
}

.slider__text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.slider__title {
  position: relative;
  padding-bottom: 3px;
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #222334;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #24232b;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: 0.3s;
  }
}

.slider__price {
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #222334;
}

.slider__old-price {
  margin-right: 15px;
  font-weight: 300;
  font-size: 18px;
  text-decoration: line-through;
  opacity: 0.6;
}

@media (min-width: 1440px) {
  .slider__container {
    width: 1428px;
  }
}